<div class="editPersona">
  <button
      class="btn btn-primary"
      type="button"
      routerLink="/editacercade/1"
      *ngIf="isLogged"
    >
      Editar Persona
    </button>
  </div>
  

<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src={{persona.img}} class="img-fluid" alt="foto-perfil" id="fotoperfil">
  </div>
  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
    <p id="titulo">Full Stack Developer Jr</p>
</div>
  <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5 descripcion">
    <span>
      <h1>Acerca de mi</h1>
      <p>{{persona.descripcion}}</p>
    </span>
  </div>
</div>

