.row{
    text-align: center;
    padding: 10px 0 0 10px;
    height: auto;
    color: white;
}


@media (min-width: 576px){
    #fotoperfil{
        border-radius: 100%;
        box-shadow: 3px 3px 3px #204346;
        position: absolute;/**/
        width: 15%;/**/
        left: 4%;/**/
    }
    .descripcion{
        display: flex;
        justify-content: center;
        padding-top: 3%;
    }
    .editPersona{
        display: flex;
        justify-content: center;
    }
    #nombre{
        font-weight: bold;
        font-size: 24px;
        padding-top: 15%;
        padding-left: 15%;
    }
    #titulo{
        font-weight: bold;
        font-size: 20px;
        padding-left: 15%;
    }
}
@media(max-width: 575px){
    #fotoperfil{
        border-radius: 100%;
        box-shadow: 3px 3px 3px #204346;
        left: auto;
        width: 45%;
    }
}

@media (max-width: 370px){
    #fotoperfil{
        top: 70%;
        left: 31%;
    }
}





