    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/imagenes/f1.jpg" class="img-fluid" alt="foto-perfil" id="fotoperfil">
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="titulo">Full Stack Developer Jr</p>
    </div>
      <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
        <span>
          <h1>Acerca de mi</h1>
          <p>Soy una persona que se adapta a los cambios, dispuesto a colaborar. Tambien me gusta realizar aportes para mejorar el desarrolo de nuevas ideas</p>
        </span>
      </div>
    </div>

