<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="botonskill">
    <button type="button" routerLink="/nuevaskill" 
    class="btn btn-success" *ngIf="isLogged">Nueva skill</button>
  </div>
    <div class="text-center col-sm-5 col-md-4 circulo" *ngFor= "let skill of skill">
      <circle-progress
      [percent]="(skill.porcentaje)"
      [showUnits]="false"
      [showSubtitle]="false"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#10c00a'"
      [innerStrokeColor]="'#72edf2'"
      [animation]="true"
      [animationDuration]="500"
      [title]="(skill.nombre)"
      [showTitle]="true"
      [titleColor]="'#c0c0c0'"
      [titleFontSize]="'24'"
      [titleFontWeight]="'bold'"
      [showImage]="false"
      [imageHeight]="80"
      [imageWidth]="80"
      ></circle-progress>
      <div>
        <td *ngIf="isLogged">
          <button
            class="btn btn-light"
            routerLink="/editarskill/{{skill.id}}"
          >
            <i class="bi bi-pencil-fill"></i>
          </button>
        </td>
        <td *ngIf="isLogged">
          <button class="btn btn-danger" (click)="delete(skill.id)">
            <i class="bi bi-trash3-fill"></i>
          </button>
        </td>
      </div>
    </div>      
  </div>

 
