<div class="row">
  <h3>Habilidades Duras</h3>
  <div class="row circles">
    <div class="col-sm-5 col-md-4">
      <circle-progress
      [percent]="77"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#33d0ae'"
      [innerStrokeColor]="'#c0c0c0'"
      [animation]="true"
      [animationDuration]="500"
      [showSubtitle]="false"
      [imageSrc]="'../assets/iconos/html.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      ></circle-progress>
    </div>
    <div class="col-sm-5 col-md-4">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#33d0ae'"
      [innerStrokeColor]="'#c0c0c0'"
      [animation]="true"
      [animationDuration]="500"
      [imageSrc]="'../assets/iconos/CSS.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showSubtitle]="false"
      ></circle-progress>
    </div>
    <div class="col-sm-5 col-md-4">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#33d0ae'"
      [innerStrokeColor]="'#c0c0c0'"
      [animation]="true"
      [animationDuration]="500"
      [imageSrc]="'../assets/iconos/angular.svg'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      ></circle-progress>
    </div>
    <div class="col-sm-5 col-md-4">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#33d0ae'"
      [innerStrokeColor]="'#c0c0c0'"
      [animation]="true"
      [animationDuration]="500"
      [imageSrc]="'../assets/iconos/java.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      ></circle-progress>
    </div>
    <div class="col-sm-5 col-md-4">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#33d0ae'"
      [innerStrokeColor]="'#c0c0c0'"
      [animation]="true"
      [animationDuration]="500"
      [imageSrc]="'../assets/iconos/js.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showSubtitle]="false"
      ></circle-progress>
    </div>
    <div class="col-sm-5 col-md-4">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#33d0ae'"
      [innerStrokeColor]="'#c0c0c0'"
      [animation]="true"
      [animationDuration]="500"
      [imageSrc]="'../assets/iconos/git.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      ></circle-progress>
    </div>        
    <div class="col-1 btn-mod">
      <button class="btn btn-light">&#9998;</button>
    </div>
  </div>
</div>

 
