<div class="row">
    <h1 id="titulo">Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Encriptador de Mensajes</h2>
            <p>Trabajo de Practica realizado con html, css y Javascript, se trata de un encriptador y desencriptador de mensajes. En el cual se utilizo funciones para convertir las vocales en texto para ocultar el mensaje que se desea.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href="https://andresvilla27.github.io/encriptador/" ><img src="../../../assets/imagenes/Encriptador.png" alt="imagenEncriptador" class="img-fluid img-proyecto"></a>
        </div>
       
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Pagina web - Guia de Hoteles</h2>
            <p>Pagina web Estatica, realizada con HTML y CSS con Bootstrap. La misma es responsiva para ser utilizada en distintos dispositivos.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/imagenes/PaginaHoteles.png" alt="imagenGuiaHoteles" class="img-fluid img-proyecto">
        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Aplicacion web - Lista de Tareas</h2>
            <p>Aplicacion Web realizada en Angular, ejercicio de practica funcional en el cursado de Argentina Programa</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/imagenes/Lista de Tareas.png" alt="imagenListaTareas" class="img-fluid img-proyecto">
        </div>
    </div>
</div>