<div class="banner">
  <img src="../../../assets/banner1.webp" alt="banner" />
    <div class="content">
      <div class="content-container">
        <p class="content-container-text">
          Hola
        </p>
        <ul class="content-container-list">
          <li class="content-container-list-item">
            Mundo!!
          </li>
          <li class="content-container-list-item">
            Usuario!!
          </li>
          <li class="content-container-list-item">
            Andres!!
          </li>
          <li class="content-container-list-item">
            a todos!!
          </li>
        </ul>
      </div>
    </div>
</div>
