.row {
    color: white;
    padding: 20px;
}

#titulo{
    text-align: center;
}
.nuevaExp{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
td{
    color: white;
}