img {
    width: 50px;
    height: auto;
}
a {
    padding-right: 3px;
}
@media(min-width: 371px){
    img{
        width: 38px;
    }
}
@media(max-width: 370px){
    img{
        width: 30px;
    }
    .btn{
        width: 80px;
        padding: 0;
    }
}