<div>
    <a href="https://www.facebook.com/andres.villafane.104/"><img src="../../../assets/facebook.png" alt="facebook"></a>
    <a href="https://github.com/Andresvilla27"><img src="../../../assets/github.png" alt="github"></a>
    <a href="https://www.linkedin.com/in/andres-villafane-a14747241/"><img src="../../../assets/linkedin.png" alt="linkedin"></a>
    <a href="https://www.instagram.com/villafane_andres/"><img src="../../../assets/instagram.png" alt="instagram"></a>
    <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingreso</button>
    <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>
</div>
